<app-header titulo="Grid y Row"></app-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12" size-lg="3" size-md="4" size-sm="6" size-xs="12"
       *ngFor="let c of [1,1,1,1,1,1,1,1,1,1,1,1];">
        <ion-card>
          <ion-img src="/assets/shapes.svg"></ion-img>
          <ion-card-header>
            <ion-card-subtitle>Card Sutitle</ion-card-subtitle>
            <ion-card-title>Card Title</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque architecto eius et suscipit enim optio accusamus veritatis nemo, placeat excepturi earum odio ipsam magni, quibusdam in aspernatur magnam cupiditate maxime.
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
