<ion-header no-border>
  <ion-toolbar>

    <ion-buttons slot="start">
     <!--<ion-button (click)="toggleMenu()">
        <ion-icon slot="icon-only" name="menu"></ion-icon>
      </ion-button>--> 

      <ion-buttons>
        <ion-menu-button menu="primermenu"
                         color="primary"></ion-menu-button>
      </ion-buttons>

    </ion-buttons>

    <ion-title text-primary>Componentes</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content ion-padding>
  <ion-list>
    <ion-item *ngFor="let c of componentes | async"
               [routerLink]="c.redirectTo" detail >  
      <ion-label>{{ c.name }}</ion-label>
      <ion-icon slot="start" 
                [name]="c.icon"
                color="primary"></ion-icon>
    </ion-item>
    
  </ion-list>
</ion-content>
